version: "3.8"

services:
  postgres:
    container_name: gestao_vagas_db
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gestao_vagas
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
